@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
 background-image: url('/assets/siteBG1.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
  color: black !important;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

a {
  color: black !important;
  font-size: 24px !important;
}

button {
  border: none;
  border-radius: 0.5rem !important;
  padding: 0.5rem;
  background-color: white;
  color: black;
}

.pagination {
  margin: 0px;
  margin: 1rem;
}
h3{
    font-size: 22px !important;
}

h2{
    font-size: 32px !important;
    
}
